header{
    margin-top: 4rem;
}

main .hero{
    padding: 0 0 0 11.5%;
}

main .courses{
    padding: 0 11.5%;
}

.logo{
    width: 112px;
    height: 28px;
}

.btn__cta{
    width: 167px;
    height: 58px;
    font-size: 1.8rem;
    line-height: 2.8rem;
    padding: 14px 32px;
}

.navbar{
    padding: 0 11.5%;
}

main .hero{
    margin-bottom: 20px;
}

main section .hero__text-container{
    margin-top: 250px;
    flex: 1;
}

.hero .hero__text-container .hero__title{
    font-size: 5.6rem;
    line-height: 7.1rem;
    
}

.hero .hero__text-container .hero__paragraph{
    font-size: 1.8rem;
    max-width: 445px;
    line-height: 2.8rem;
}

.hero .hero__text-container .hero__btn{
    width: 167px;
    height: 63px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
}

.hero .hero__img-container{
    margin-top: 0%;
    flex: 1.5;
    height: 55vw;
    background-image: url(../assets/image-hero-desktop.webp);
    background-size: 70vw;
    background-position: right calc(-24vw - 10%) bottom calc(4vw - -30%);
}