:root{
    --darkblue: #13183F;
    --violet: #666ca3;
    --grey: #83869a;
    --pink: #f74780;
    --light-pink: #ffa7c3;
    --white: #FFFFFF;
    --orange-pink-gradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --blue-pink-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
}

