:root{
    --darkblue: #13183F;
    --violet: #666ca3;
    --grey: #83869a;
    --pink: #f74780;
    --light-pink: #ffa7c3;
    --white: #FFFFFF;
    --orange-gradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --blue-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans';
}

header{
    position: absolute;
    top: 0;
    width: 100%;
    height: 4.8rem;
    margin-top: 2rem;
}

.navbar{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 5%;
}

.navbar li{
    list-style: none;
}

.navbar a{
    text-decoration: none;
}

.logo{
    width: 89px;
    height: 24px;
}

.btn__cta{
    width: 140px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    padding: 12px 24px;
    border: none;
    border-radius: 28px;
}

.primary{
    background-color: var(--darkblue);
    color: var(--white);
}
.primary:hover{
    background-color: var(--violet);
    color: var(--white);
}

.secondary{
    background: var(--blue-gradient);
    color: var(--white);
}
.secondary:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), var(--blue-gradient);
    color: var(--white);
}

main .courses, main .hero{
    padding: 0 5%;
}

main section .hero__text-container{
    margin-top: 100px;
}

.hero .hero__text-container .hero__title{
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
    color: var(--darkblue);
    margin-bottom: 26px;
}

.hero .hero__text-container .hero__paragraph{
    font-size: 1.6rem;
    max-width: 397px;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--grey);
    margin-bottom: 24px;
}

.hero .hero__text-container .hero__btn{
    width: 167px;
    height: 56px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    border: none;
    border-radius: 3.1rem;
    background: var(--orange-gradient);
    color: var(--white); 
}
.hero .hero__text-container .hero__btn:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)),var(--orange-gradient);
    color: var(--white);
    cursor: pointer; 
}

.hero .hero__img-container{
    margin-top: 46px;
    display: inline-block;
    width: 100%;
    height: 350px;
    background-image: url('../assets/image-hero-mobile.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
}

/* courses*/
.courses{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 11px;
    width: 100%;
    grid-auto-flow: row;
}

.courses__title-container{
    width: 300px;
    height: 120px;
    padding: 25px 28px;
    background: var(--orange-gradient);
    border-radius: 1rem;
    margin-bottom: 40px;
}

.courses__title-text{
    font-size: 2.4rem;
    color: var(--white);
}

.card{
    position: relative;
    width: 300px;
    height: 259px;
    padding: 56px 28px 32px;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    margin-bottom: 40px;
}

.card__icon{
    position: absolute;
    top: -25px;
    width: 56px;
    height: 56px;
    background: var(--orange-gradient);
    border-radius: 50%;
}

.animation{
    background-image: url('../assets/icon-animation.svg');
}
.design{
    background-image: url('../assets/icon-design.svg');
}
.photography{
    background-image: url('../assets/icon-photography.svg');
}
.crypto{
    background-image: url('../assets/icon-crypto.svg');
}
.business{
    background-image: url('../assets/icon-business.svg');
}

.card__title{
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
    color: var(--darkblue);
    margin-bottom: 1.6rem;
}

.card__paragraph{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--grey);
    margin-bottom: 2.4rem;
}

.card__cta{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--pink);   
}

.card__cta:hover{
    color: var(--light-pink);   
}

footer{
    width: 100%;
    height: 120px;
    background: var(--darkblue);
    display: flex;
    align-items: center;
}