.hero .hero__img-container{
    width: 100%;
    height: 350px;
    background-size: auto;
}

.courses{
    grid-template-columns: repeat(auto-fill, minmax(339px, 1fr));
}

.courses__title-container{
    width: 343px;
}

.card{
    width: 343px;
}