:root{
    --darkblue: #13183F;
    --violet: #666ca3;
    --grey: #83869a;
    --pink: #f74780;
    --light-pink: #ffa7c3;
    --white: #FFFFFF;
    --orange-gradient: linear-gradient(180deg, #FF6F48 0.04%, #F02AA6 100%);
    --blue-gradient: linear-gradient(180deg, #4851FF 0%, #F02AA6 99.92%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Plus Jakarta Sans';
}

/* general*/
.primary{
    background-color: var(--darkblue);
    color: var(--white);
}

.secondary{
    background: var(--blue-gradient);
    color: var(--white);
}

.btn__cta{
    width: 140px;
    height: 48px;
    text-align: center;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.8rem;
    padding: 12px 24px;
    border: none;
    border-radius: 28px;
}


/*header*/

header{
    position: relative;
    display: flex;
    width: 100%;
    padding: 0 5%;
    height: 4.8rem;
    align-content: center;
    justify-content: space-between;
    margin: 2rem 0;
}

header nav ul li{
    display: inline-block;
    list-style: none;
}

.logo{
    width: 89px;
    height: 24px;
}

/*Main*/
main{
    position: relative;
    width: 100%;
    padding: 0 5%;
    margin: 3.8rem auto;
    overflow: hidden;
}

.hero__text{
    margin-bottom: 46px;
}

.hero .hero__title{
    font-size: 4rem;
    font-weight: 800;
    line-height: 5rem;
    color: var(--darkblue);
    margin-bottom: 26px;
}

.hero .hero__paragraph{
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--grey);
    margin-bottom: 24px;
}

.hero .hero__btn{
    width: 167px;
    height: 56px;
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 2.6rem;
    border: none;
    border-radius: 3.1rem;
    background: var(--orange-gradient);
    color: var(--white); 
}

.hero picture{
    display: inline-block;
    width: 343px;
    height: 350px;
    background-image: url('/assets/image-hero-mobile.png');
    background-position: center;
}

/* courses*/
.courses{
    display: grid;
}
.courses__title-container{
    width: 343px;
    height: 120px;
    padding: 25px 28px;
    background: var(--orange-gradient);
    border-radius: 1rem;
    margin-bottom: 40px;
}

.courses__title-text{
    font-size: 2.4rem;
    color: var(--white);
}

.card{
    position: relative;
    width: 343px;
    max-width: 343px;
    height: 259px;
    padding: 56px 28px 32px;
    background: var(--white);
    border-radius: 1rem;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    margin-bottom: 40px;
}

.card__icon{
    position: absolute;
    top: -25px;
    width: 56px;
    height: 56px;
    background: var(--orange-gradient);
    border-radius: 50%;
}

.animation{
    background-image: url('../assets/icon-animation.svg');
}
.design{
    background-image: url('../assets/icon-design.svg');
}
.photography{
    background-image: url('../assets/icon-photography.svg');
}
.crypto{
    background-image: url('../assets/icon-crypto.svg');
}
.business{
    background-image: url('../assets/icon-business.svg');
}

.card__title{
    font-size: 2rem;
    font-weight: 800;
    line-height: 2.5rem;
    color: var(--darkblue);
    margin-bottom: 1.6rem;
}

.card__paragraph{
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 2.6rem;
    color: var(--grey);
    margin-bottom: 2.4rem;
}

.card__cta{
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 2.8rem;
    color: var(--pink);   
}

footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 120px;
    padding: 0 5%;
    background: var(--darkblue);
}
