main .hero{
    display: flex;
    margin-bottom: 76px;
    padding: 0 0 0 5%;
}
main section .hero__text-container{
    margin-top: 150px;
    flex: 1.5;
}

.hero .hero__img-container{
    margin-top: 0%;
    flex: 1;
    height: 75vw;
    background-image: url(../assets/image-hero-tablet@2x.webp);
    background-size: 80vw;
    background-position: right calc(-40vw - 10%) bottom calc(5vw - -30%);
}

.courses__title-container{
    height: 259px;
}
